  <div id="entry-form-div">
    <form action="/river_entry" method="POST" class="center" id="entry-form">

        <div class="form-group row">
          <label for="river" class="col-sm-2 col-form-label">River</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="river" placeholder="Fork and branch (Run name)">
          </div>
        </div>
        <div class="form-group row">
          <label for="stretch" class="col-sm-2 col-form-label">Stretch</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="stretch" placeholder="start to end location identifiers (e.g. 49 to bridgeport)">
          </div>
        </div>
        <div class="form-group row">
          <label for="difficulty" class="col-sm-2 col-form-label">Difficulty</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="difficulty">
          </div>
        </div>
        <div class="form-group row">
          <label for="distance" class="col-sm-2 col-form-label">Distance</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="distance">
          </div>
        </div>
        <div class="form-group row">
          <label for="flows" class="col-sm-2 col-form-label">Flows</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="flows">
          </div>
        </div>
        <div class="form-group row">
          <label for="gradient" class="col-sm-2 col-form-label">Gradient</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="gradient">
          </div>
        </div>
        <div class="form-group row">
          <label for="gradient" class="col-sm-2 col-form-label">Put-in</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="put-in">
          </div>
        </div>
        <div class="form-group row">
          <label for="take-out" class="col-sm-2 col-form-label">Take-out</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="take-out">
          </div>
        </div>
        <div class="form-group row">
          <label for="shuttle" class="col-sm-2 col-form-label">Shuttle</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="shuttle">
          </div>
        </div>
        <div class="form-group row">
          <label for="season" class="col-sm-2 col-form-label">Season</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="season">
          </div>
        </div>
        
        
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>

      </form>
    </div>


  