<div class="success">
    <h1 >Your submission has been successful!</h1>
    <a class="btn btn-primary top-space" href="log_entry" role="button">Add another</a>
    <a class="btn btn-secondary top-space" href="home" role="button">Go home</a>
</div>

