
/* ####### ENTRY FORM ######### */
#entry-form-div {
    margin: 3% 10%;
}

#entry-form {
    max-width: 700px;
}

.center {
    margin:auto;
}

.optional-data {
    display: none;
}

/* ########## DROPDOWN SEARCH ##########*/

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f6f6f6;
min-width: 230px;
border: 1px solid #ddd;
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/* CSS for posts to this route */
.success {
    text-align: center;
}
/* to all children of elements with .success */
.success > * {
    margin-top: 5%;
}